/*
------------------------------------
            Mediaqueries
------------------------------------
*/

@media (max-width: 991px) {
    .navigation {
        margin: 0 auto;
    }
    .about-me-descr {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
        padding-top: 20px;
    }
    .contacts .col-md-4 {
        padding-bottom: 30px;
    }
    .contacts .col-md-4:nth-child(3) {
        padding-bottom: 0;
    }
}